h1{
	text-align: center;
}

.row{
 	width: 100%;
 }

/********* Large Devices *********/

 @media (min-width: 992px){
 	.col-lg{
 	float: left;
 	border: 1px solid green;
 	width: 33%;
 	 }
 }

/********* Medium Devices *********/

@media (min-width: 768px) and (max-width: 991px){
	.col-md{
		float: left;
		border: 1px solid green;
 		width: 50%;
	}
}

/********* Small Devices *********/

@media (max-width: 767px){
	.col-sm{
		float: left;
		border: 1px solid green;
 		width: 100%;
	}
}

#p1{
	background-color:hotpink ;
	float: right;
	border: 5px black;
}

#p2 {
	background-color: maroon;
	float: right;
	border: 5px black;
}

#p3{
	background-color: lightyellow;
	float: right;
	border: 5px black;
}

#span{
	background-color: grey;
	border: 5px black;
	margin: 30px;
}

